
<div class="contents-row">
  <%= form_tag('/tweets', method: :post) do %>
    <h3>
      投稿する
    </h3>
    <textarea cols="30" name="text" placeholder="テキスト" rows="10"></textarea>
    <input type="submit" value="SENT">
  <% end %>
</div>